services:
  backend:
    build:
      context: apps/backend
      platforms:
        - "linux/amd64"
    image: ${DOCKER_BE_IMG_NAME}
    container_name: backend-ktb
    restart: unless-stopped
    ports:
      - "${BE_PORT}:5001"
      - "${WS_PORT}:5002"
    environment:
      - MONGO_URI=mongodb://${DB_MONGO_HOST}:${DB_MONGO_PORT}/bootcamp-chat
      - REDIS_HOST=${DB_REDIS_HOST}
      - REDIS_PORT=${DB_REDIS_PORT}
      - SOCKETIO_REDIS_HOST=${SOCKETIO_REDIS_HOST}
      - SOCKETIO_REDIS_PORT=${SOCKETIO_REDIS_PORT}
      - SOCKETIO_REDIS_CLUSTER_NODES=${SOCKETIO_REDIS_CLUSTER_NODES}
      - ENCRYPTION_KEY=09b4af784655ab93ccc491545339b7b534fdcb32abb9d3330bb0b836516233bf
      - ENCRYPTION_SALT=10d1755b2c3716cdd0c6552132ad9e98
      - JWT_SECRET=bd4b530a6a24e11ec22156b5c3d5d333fc39230eb4cb4efe943bf0cfcd91fb7c
      - PORT=${BE_PORT}
      - WS_PORT=${WS_PORT}

# DOCKER_BE_IMG_NAME=ljh09060/ktb-chat-be:latest
# DB_MONGO_HOST=10.0.101.103
# DB_MONGO_PORT=27017
# DB_REDIS_HOST=10.0.101.104
# DB_REDIS_PORT=6379
# BE_PORT=5001
# WS_PORT=5002
# SOCKETIO_REDIS_HOST=10.0.101.101
# SOCKETIO_REDIS_PORT=6379
# SOCKETIO_REDIS_CLUSTER_NODES=10.0.101.101:6379,10.0.101.102:6379,10.0.101.103:6379,10.0.101.104:6379,10.0.101.105:6379,10.0.101.106:6379
